<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Update Page</title>
</head>
<body>
    <Table>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ update_form.as_table }}
            </table>
            <button name="submit">Submit</button>
        </form>
    </Table>
</body>
</html>